.describeBox {
    p {
        line-height: 1.5em;
        max-height: 6em;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }
    p {
        /* hide text if it more than N lines  */
        overflow: hidden;
        /* for set '...' in absolute position */
        position: relative;
        /* use this value to count block height */
        /* fix problem when last visible word doesn't adjoin right side  */
        text-align: justify;
        /* place for '...' */
        margin-right: -1em;
        padding-right: 1em;
    }
    /* create the ... */
    p:before {
        /* points in the end */
        content: '...';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of block */
        right: 0;
        bottom: 0;
    }
    /* hide ... if we have text, which is less than or equal to max lines */
    p:after {
        /* points in the end */
        content: '';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of text */
        right: 0;
        /* set width and height */
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        /* bg color = bg color under block */
    }
    /*
    $colors: white #fff7e6 #f6ffed #fff1f0 #eaff8f #ffa39e #e8e8e8 #f9f0ff;
    @for $i from 1 to 8 {
        .c-#{$i - 1}:after {
            background-color: nth($colors, $i);
        }
    }*/
}

.c-0>p:after {
    background-color: white;
}

.c-1>p:after {
    background-color: #fff7e6;
}

.c-2>p:after {
    background-color: #f6ffed;
}

.c-3>p:after {
    background-color: #fff1f0;
}

.c-4>p:after {
    background-color: #eaff8f;
}

.c-5>p:after {
    background-color: #ffa39e;
}

.c-6>p:after {
    background-color: #e8e8e8;
}