.qr {
    canvas {
        margin: auto;
        display: block;
    }
    margin-bottom: 8px;
}


/* .card {
//     // background-color: #f3efdf;
// }*/

.details-alert {
    span {
        user-select: none;
        b {
            font-size: large;
            user-select: text;
        }
    }
}

.details-table {
    margin-top: 8px;
    width: 100%;
    table,
    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
        text-align: center;
        margin: auto;
        padding: 0.5rem;
        border: 1px solid #ccc;
    }
    table {
        background: #fff;
        margin: auto;
        border: none;
        padding: 0;
        margin-bottom: 5rem;
    }
    th {
        font-size: 1.2em;
        width: 30%;
        &:nth-child(odd) {
            border-right: none;
        }
    }
    td {
        width: 70%;
        font-size: 1.2em;
        border-top: none;
        &:nth-child(odd) {
            border-right: none;
        }
    }
}